body{
    background-color: #ff74be;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 10px black;
    border-radius: 30px;
    background-color: #390320ae;
    gap: 20px;
    padding: 20px;
}
input{
    background-color: transparent;
    outline: none;
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    color: #ffffff;
    margin: 15px;
    transition: border-bottom 0.3s;
}input:focus {
    border-bottom: 2px solid #ff9ed2;
}
input::placeholder{
    color: #ffffff;
    font-size: 20px;
}
h1{
    color: #3a003a;
    text-shadow: 3px 3px 10px #9f5b7f;
}
button{
    height: 50px;
    width: 150px;
    border: 2px solid #000000;
    border-radius: 50px;
    background-color: #ff9ed2;
    color: #000000;
    font-size: 18px;
    transition: .5s;
}
button:hover{
    background-color: #000000;
    color: #ff9ed2;
    border: 2px solid #ff9ed2;
}
#res{
    background-color: #ff9ed2c3;
    color: #3a003a;
    width: 300px;
    height: auto;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    text-align: center;
    padding: 15px;
     animation: pop 0.5s ease-in-out;
}
@keyframes pop {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@media(max-width:750px){
    #res{
        font-size: 15px;
        font-weight: 550;
        padding: 10px;
        width: 250px;
    }
}