body{
    background-color: #5fffd485;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
}
.marquee-box {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 20px;
}

.animated-text {
  display: inline-block;
  animation: slide-left 4s linear infinite alternate;
}

@keyframes slide-left {
  0%   { transform: translateX(100%);}
  100% { transform: translateX(0%); }
}

h1{
    color: #002111;
    text-shadow: 3px 3px 10px #029850;
    font-size: 50px;
    margin: 20px;
    
}
.main{
    background-color: #00000050;
    border: 2px solid black;
    border-radius: 1%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    gap: 10px;
    box-shadow: 3px 3px 10px black;
}
button{
    margin: 20px;
    height: auto;
    padding: 15px;
    font-size: 20px;
    border: 2px solid #31fa99;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    background-color: #003e2d;
    color: #ffffff;
    transition: .3s;
    font-family: "Ubuntu Mono", monospace;
}
button:hover{
    background-color: white;
    cursor: pointer;
    color: #002111;
    border: 2px solid #002111;
}
@media(max-width:1000px){
    .main{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
@media(max-width:800px){
    .main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    h1{
        font-size: 20px;
    }
}
@media(max-width:600px){
    .main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}
@media(max-width:500px){
    .main{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
    }
  
}