nav {
    background-color: #333;
    padding: 15px 20px;
    margin: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


    nav ul {
      display: flex;
      list-style: none;
      justify-content: flex-start;
    }

    nav ul li {
      margin-right: 25px;
    }

    nav ul li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
    }

    nav ul li a:hover {
      color: #f39c12;
    }

    .logo {
      font-size: 22px;
      color: #f1c40f;
      font-weight: bold;
      margin-right: auto;
    }

    @media(max-width:600px){
    
    nav{
        padding: 2px;
    }
    nav ul {
    flex-direction:row;
    align-items: flex-start;
    margin: 10px;
  }

  nav ul li {
    margin: 10px 0;
  }
  nav ul li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
      font-size: 15px;
      margin: 10px;
    }
    .logo{
        margin-right: 0px;
    }
}