body {
    background-color: #fadbb2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 8%;
    padding: 20px;
    background-color: #9d5151;
    box-shadow: 3px 3px 15px black;
    max-width: 90vw;
    box-sizing: border-box;
}

.but {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    border: 2px solid black;
    background-color: #ffa6a6;
    font-size: 18px;
    margin: 20px;
    height: 50px;
    width: 150px;
    border-radius: 8%;
    font-weight: 600;
    transition: .4s;
}

button:hover {
    background-color: white;
}

#res,
#score {
    height: auto;
    width: 300px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.468);
    color: #000;
    border-radius: 5%;
    padding: 20px;
    border: 3px solid black;
    margin: 20px;
    text-align: center;
    word-wrap: break-word;
}


@media (max-width: 900px) {
    body {
        padding: 20px;
    }

    button {
        margin: 10px;
        width: 120px;
        height: 40px;
        font-size: 18px;
    }

    #res{
        width: 60vw;
        font-size: 16px;
        font-weight: 700;
    }
    #score {
        width: 60vw;
        font-size: 14px;
        font-weight: 700;
    }

    .main {
        padding: 15px;
    }
    h1{
        font-size: 24px;
    }
}
