body{
    background-color: #fbc8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10%;
    background-color: #00000062;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px;

    width: 100%;
    max-width: 400px;
}
h1{
    color: #2e0032;
    text-shadow: 3px 3px 10px #790582;
    font-size: 50px;
    margin: 20px;
}
#res,#res_Armstong,#prime_res,#fact_res{
    font-size: 25px;
    background-color: #fff0f093;
    text-align: center;
    border-radius: 10%;
    margin: 20px;
    height: auto;
    border: 2px dotted black;
    padding: 10px;
}
button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color: #e743f38a;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10%;
    font-weight: 600;
    transition: .3s;
}
button:hover{
    background-color: black;
    color: white;
    box-shadow: 3px 3px 10px white;
    border: white 2px solid;
}
#input, #Armstong, #prime, #fact {
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.con{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
@media(max-width:1200px){
    .con{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    } .main{
        max-width: 300px;
    }#input, #Armstong, #prime, #fact {
        width: 250px;
        height: 30px;
        font-size: 15px;
        font-weight: 600;
    }h2{
        font-size: 24px;
    }
    #res,#res_Armstong,#prime_res,#fact_res{
        height: 30px;
        width: 200px;
        font-size: 15px;
    }
}
@media(max-width:800px){
    .con{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 20px;
        font-weight: 600;
    } 
    h1{
        font-size: 20px;
    }
}