body{
   background: linear-gradient(135deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.main{
    background-color: #ffffff25;
    border: 2px solid black;
    border-radius: 5%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-shadow: 3px 3px 10px white;
}
#nextmove{
    font-size: 18px;
    font-weight: 550;
    width: 350px;
    height: 70px;
    text-align: center;
}
button{
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 550;
    border: 2px solid white;
    border-radius: 5%;
}